{% extends "fanxiangce/base.html" %}
{% load static %}

{% block title %}{{ user.username }} - 翻相册{% endblock %}

{% block head %}
    {#<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>#}
    {#<link href="{% static 'fanxiangce/css/lightbox' %}" rel="stylesheet">#}
{% endblock %}

{% block body %}
    <ol class="breadcrumb" id="navigation">
        <li><a href="{% url 'fanxiangce:index' %}">首页</a></li>
{#        <li><a href="{{ url_for('.albums', username=album.author.username) }}">{% if current_user == album.author %}#}
{#            我{% else#}
{#            %}{{ album.author.name }}{% endif %}的相册</a></li>#}
{#        <li><a href="{{ url_for('.album', id=album.id) }}">《{{ album.title }}》</a></li>#}
{#        <li class="active">第{{ photo_index }}张</li>#}
{#        <li class="pull-right"><a href="{{ url_for('.album', id=album.id) }}">返回</a></li>#}
{#        <li class="pull-right"><a href="{{ url_for('main.likes', username=album.author.username) }}">#}
{#            {% if current_user ==#}
{#                album.author %}我{% else %}{{ album.author.name }}{% endif %}的喜欢</a></li>#}
    </ol>
{% endblock %}