{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "fanxiangce/css/styles.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "fanxiangce/css/typing.css" %}">
    {% block head %}

    {% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <b>
                    <span class="fan">翻</span>
                    <span class="xiang">相</span>
                    <span class="ce">册</span>
                </b></a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'fanxiangce:index' %}">首页</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'fanxiangce:albums' username=request.user.username %}">我的</a></li>
                {% endif %}
                <li><a href="{% url 'fanxiangce:explore' %}">探索</a></li>
{#                <li><a href="{{ url_for('main.about') }}">关于</a></li>#}
            </ul>
{##}
{#            <form class="navbar-form navbar-left" role="search">#}
{#              <div class="form-group">#}
{#                <input type="text" class="form-control" placeholder="搜索用户/相册">#}
{#              </div>#}
{#              <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>#}
{#            </form>#}
{#            <ul class="nav navbar-nav navbar-right">#}
{#                <li><a href="{{ url_for('main.new_album') }}">新建相册</a></li>#}
{#                <li><a href="{{ url_for('main.upload') }}">上传照片</a></li>#}
{#                {% if current_user.is_authenticated %}#}
{#                <li class="dropdown">#}
{#                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
{#                       aria-expanded="false">#}
{#                        <span></span>#}
{#                        <img src="{{ current_user.gravatar(size=18) }}">#}
{#                        {{ current_user.name }} <strong class="caret"></strong>#}
{#                    </a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a href="{{ url_for('main.edit_profile', username=current_user.username) }}">编辑资料</a></li>#}
{#                        <li><a href="#">设置</a></li>#}
{#                        <li><a href="#">帮助</a></li>#}
{#                        <li class="divider"></li>#}
{#                        <li><a href="{{ url_for('auth.change_password') }}">更改密码</a></li>#}
{#                        <li><a href="{{ url_for('auth.change_email_request') }}">更改邮箱</a></li>#}
{#                        <li><a href='{{ url_for("auth.logout") }}'>注销</a></li>#}
{#                    </ul>#}
{##}
{##}
{#                </li>#}
{##}
{#                {% else %}#}
{#                <li><a href="{{ url_for('auth.login') }}">登录</a></li>#}
{#            </ul>#}
{##}
{#            {% endif %}#}

        </div>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        <p class="message-p {% if message.tags %}  bg-{{ message.tags }} {% endif %}">{{ message }}</p>
    {% endfor %}
{% endif %}

{% block body %}
{% endblock %}
</body>
</html>