{% extends "fanxiangce/base.html" %}
{% load static %}
{% block title %}
    首页
{% endblock %}

{% block body %}
    <div class="container">
        <h3>我的关注</h3>
    </div>
    <hr>
    <div class="container">
        <div class="row grid">
            {% for photo in photos %}
                {{ photo.url }}
                {% if photo.album.no_public == False %}
                    <div class="explore-image grid-item">
                        <a class="thumbnail" href="{% url 'fanxiangce:photo' photo_id=photo.id %}">
                            <img class="img-responsive" src="{{ photo.url_t }}">
                        </a>
                        <div class="info">
                            <span>上传于{{ photo.timestamp }}</span>
                            <span>作者：<a href="{% url 'fanxiangce:albums' username=photo.author.username %}">{{ photo.author.name }}</a></span><br>
                            <span>相册：<a href="{% url 'fanxiangce:album' album_id=photo.album.id %}">{{ photo.album.title }}</a></span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            {% if not photos %}
                <h4>你还没有关注任何人，先去<a href="{% url 'fanxiangce:explore' %}">探索</a>一下吧！</h4>
            {% endif %}
        </div>
    </div>

{% endblock %}